<!--navigation-->
        <nav class="navbar navbar-expand-md navbar-transparent fixed-top sticky-navigation navbar-light bg-white shadow-bottom" id="lambda-navbar">
            <%= link_to "Investify", root_path, class: "navbar-brand"%>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" 
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span data-feather="menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to "About", about_path, class: "ms-3 nav-link", role:"button"%>
                </li>

                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to "Market", market_path, class: "ms-3 nav-link", role:"button"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Portfolio", "#", class: "ms-3  nav-link", role:"button"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Transactions", "#", class: "ms-3 nav-link", role:"button"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Edit User", edit_user_registration_path, class: "ms-3  nav-link", role:"button"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "ms-3 nav-link", role:"button"%>
                    </li>

                <% else %>
                    <li class="nav-item">
                        <%= link_to "Sign In", new_user_session_path, class: "ms-3 nav-link btn btn-outline-primary", role:"button"%>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign Up", new_user_registration_path, class: "ms-3 nav-link btn btn-outline-primary", role:"button"%>
                    </li>

                <% end %>
            </ul>
                
            </div>
        </nav>