<% client = IEX::Api::Client.new()%>
<% if params[:stock_name] %>
  <% company_quote = client.quote(params[:stock_name]).latest_price%>
<% end %>

<div class="row">
  <div class="col">
    <table class="table text-center table-striped table-hover">
      <thead>
        <tr class="">
          <th scope="col">Details</th>
          <th scope="col">Amount per Unit</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @brokers.each do |broker, index| %>
          <% broker.stocks.each_with_index do | stock | %>
            <tr class="">
            
              <td class="align-middle">
                <h5><%= stock.name %></h5>
                <p><%= broker.username %></p>
                
              </td>
              <% if company_quote %>
                <td class="align-middle"><%= company_quote %></td>
              <% else %>
                <td class="align-middle"><%= client.quote(stock.name).latest_price%></td>
              <% end %>
              <td class="align-middle">
                <%= button_to "Buy", show_stock_in_modal_path, method: :post, remote: true,
                  class: "btn btn-primary",
                  "data-bs-toggle" => "modal",
                  "data-bs-target" => "#modal-create-stock",
                  params: { stock_name: stock.name, seller_id: broker.id, seller_name: broker.username  } %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  
  </div>
</div>
