
<!DOCTYPE html>
<html>
  <head>
    <title>Investify</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <%# <script src='https://unpkg.com/dailychart/dist/dailychart.min.js'></script> %>
  </head>
  <body data-spy="scroll" data-target="#lambda-navbar" data-offset="0">
    <%# <div class="loader hidden"> %>
      <%# <img src="spinner-bean.gif" alt="Loading..." /> %>
      <%# image_tag "spinner-bean.gif" %>
    <%# </div> %>
    
    
    <%= render partial: "home/navbar" %>
    <div id="pages-container">
        <%= render "home/flash" %>
        <%= yield %>
    </div>
    <%# Modal for creating stock: Broker buying new stock from market page %>

    <div class="modal fade" id="modal-create-stock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <%= render partial: "market/modal_create_stock"%>
    </div>
    <div class="modal fade" id="modal-delete-stock" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <%= render partial: "market/modal_delete_stock" %>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <%# <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.0/feather.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script> %>
      
  </body>
  <%= javascript_pack_tag 'dailychartsrun.js' , 'data-turbolinks-track': 'reload'  %>
  <%= javascript_pack_tag 'scripts.js' , 'data-turbolinks-track': 'reload'  %>
</html>
